[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gensim = "*"
spacy-german-preprocess = "*"
pymongo = "*"
pyldavis = "*"
jupyter = "*"
tabulate = "*"
flask = "*"
flask-cors = "*"
flair = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
server = "flask run"
tagger = "python tagger.py"
